$bgColor: #B3CEE2;
$bgColorLight: #F9F9FC;
$fontColor: #182233;
$fontColorLight: #FFFFFF;
$btnColor: #223342;
$borderColor: #223342;
$hoverColor: #364D60;
$focusColor: #364D60;
$disabled: opacity 0.7;
$radius: 8px;
$moreRadius: 16px;
$error: #e30000;